@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: auto;
  min-width: 200px;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
 /* Prevent text copying */
  background-color: black;
}

/* Allow selection inside form fields */
input,
textarea,
button {
  user-select: text;
}


.hide-scrollbar {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
