@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: auto;
  min-width: 200px;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
 /* Prevent text copying */
  background-color: black;
}

/* Allow selection inside form fields */
input,
textarea,
button {
  user-select: text;
}
